<div class="" [hidden]="hideRooms">
  <h1>{{ hotelName }}</h1>
  <span>Number of Rooms: </span>
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerHTML]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms?.availableRooms ?? "No Rooms" }} -->
<!-- {{ rooms.availableRooms ?? "No Rooms" }} -->
<!-- {{ roomList | json }} -->

<button (click)="toggle()" class="btn btn-sm btn-primary">Toggle</button>
<!-- <div *ngIf="rooms && rooms.availableRooms > 0">Room List</div> -->

<div *ngIf="rooms?.availableRooms !== undefined && rooms.availableRooms > 0">
  <app-rooms-list [rooms]="roomList" />
</div>
